/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 de jul de 2019, 16:43:38
    Author     : root
*/

.tituloCad{
    border-bottom: 2px solid black;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}